{foreach $articles as $article}
    {_"messages.article.title"}: {$article->getTitle()} <a href="{plink show $article->getId()}">Zobrazit</a> <a href="{plink edit $article->getId()}">Upravit</a><br>
{/foreach}