services:
    - Auth\Authenticator
    - Auth\AuthorizatorFactory::create

    # components
    - Auth\Components\Forms\SignInForm\SignInFormFactory

    # Repositories
    - Auth\Model\Repositories\UserRepository(@doctrine.dao(Auth\Model\Entities\User))

    # Entities
    - Auth\Model\Entities\User