services:
    security.user: Auth\User

    - Auth\AccessControl
    - Auth\Authenticator
    - Auth\AuthorizatorFactory::create

    # components
    - Auth\Components\Forms\SignInForm\SignInFormFactory

    # Repositories
    - Auth\Model\Repositories\UserRepository

    # Entities
    - Auth\Model\Entities\User