services:
    - Libs\Text\TexyPreprocesor

    # Facades
    - Article\Model\Facades\ArticleFacade
    # Repositories
    - Article\Model\Repositories\ArticleRepository

    # Entities
    - Article\Model\Entities\Article

    # Components
    - Article\Components\ArticleAddForm\ArticleAddFormFactory
    - Article\Components\ArticleEditForm\ArticleEditFormFactory
    - Article\Components\ArticleList\ArticleListFactory
    - Article\Components\ArticleListItem\ArticleListItemFactory
    - Article\Components\Article\ArticleFactory