<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Vojtěch Bartoš">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>{ifset title}{include title|striptags} | {/ifset}Vojtěch Bartoš</title>
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    <link rel="stylesheet" href="{$basePath}/dist/style.css">

    {block styles}{/block}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="js-off">
<script type="application/javascript">
    let body = document.getElementsByClassName("js-off");
    if (body && 0 in body) {
        body[0].className = "js-on";
    }
</script>
    <div n:block="layout"></div>

    <script type="text/javascript" src="{$basePath}/dist/script.js"></script>

    {block scripts}{/block}
</body>
</html>