{layout '@html.latte'}

{block layout}
    {control menu}

    <div id="react-app"></div>

    <div class="container">
        {snippet flashes}
            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        {/snippet}

        {snippet content}
            {include content}
        {/snippet}
    </div>

    {block modal}
    {/block}
{/block}
