{layout '@html.latte'}

{block layout}
    {control menu}

    <div id="react-app"></div>

    <div class="container">
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

        {include content}
    </div>
{/block}
