{block content}
    <h1>{_"messages.article.articles"}</h1>
    <a href="{$linkAdd}" class="ajax">{_"messages.article.add"}</a>
    {control articles}
{/block}

{block modal}
    {control publishConfirmation}
    {control deleteConfirmation}
{/block}
