
php:
    date.timezone: Europe/Prague


latte:
    macros:
        - Libs\Latte\FormMacros


application:
    debugger: true
    errorPresenter: Error
    mapping:
        *: VojtechBartos\Presenters\*Presenter

di:
    debugger: true

routing:
    debugger: true


security:
    debugger: true


session:
    autoStart: true
    expiration: 14 days
#    savePath: "%tempDir%/session"

console:
    url: http://vojtechbartos.com

doctrine:
    driver: mysqli
    host: mysql
    user: root
    password: root
    dbname: vojtechbartos
    metadata:
        VojtechBartos: %appDir%

translation:
    default: cs
    whitelist: [cs, en]
    #fallback: [cs_CZ, cs]

migrations:
    dir: %appDir%/../db # migrations base directory
    driver: mysql       # pgsql or mysql
    dbal: doctrine      # nextras, nette, doctrine or dibi

decorator:
    Nette\Application\UI\Form:
        setup:
            - setTranslator(@translation.default)
            - setRenderer(@renderer)
    Libs\Application\UI\FormControl:
        setup:
            - injectFormFactory(@Libs\Forms\FormFactory)

services:
    router.factory: VojtechBartos\Router\RouterFactory
    router: @router.factory::create
    renderer: Libs\Forms\Rendering\BootstrapFormRenderer::create
    - Libs\Forms\FormFactory

extensions:
    - Auth\DI\AuthExtension
    - Article\DI\ArticleExtension

    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    translation: Kdyby\Translation\DI\TranslationExtension
    migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
    autowired: Kdyby\Autowired\DI\AutowiredExtension
