article:
    added: "Článek <b>%name%</b> byl vytvořen."
    published: "Článek <b>%name%</b> byl publikován."
    unpublished: "Publikování článku <b>%name%</b> bylo zastaveno."
    deleted: "Článek <b>%name%</b> byl smazán."
    updated: "Všechny změny v článku <b>%name%</b> byly uloženy."

    show: Zobrazit
    edit: Editovat
    publish: Publikovat
    unPublish: Zrušit publikování
    delete: Smazat

    list_is_empty: Nebyly nalezeny žádné články.