<p>
    {_$message}
</p>

<a n:href="confirm!" class="ajax btn btn-primary button" data-ajax-off="history"
                     data-dismiss="modal">{_"messages.form.ok"}</a>
<a n:href="cancel!" class="ajax btn btn-primary button" data-ajax-off="history"
                    data-dismiss="modal">{_"messages.form.cancel"}</a>